@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    font-family: 'Roboto', sans-serif;
}

.fw-offer {
    height: 560px;
    background: #dcdcdc url("/storage/images/offer.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}

.fw-offer h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 2px;
    color: #ffffff;
    margin-top: 180px;
    text-transform: uppercase;
}

.fw-offer .fw-offer-button {
    padding: 12px 40px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: #73e699;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.fw-offer .fw-offer-button:hover {
    box-shadow: 0 20px 40px 0 rgba(13, 26, 17, 0.2);
    text-decoration: none;
}

.fw-header {
    height: 60px;
    width: 100%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.08);
    background: #ffff;
    padding: 10px 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0d1a11;
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1012;
}

.fw-header .fw-sign-in {
    cursor: pointer;
}

.fw-header .fw-circle-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fafafa;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    cursor: pointer;
}

.fw-header .fw-button {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
}

.fw-cats {
    margin-top: -76px;
}

.fw-cats .uk-grid > .uk-grid-margin {
    margin-top: 16px;
}

.fw-cats .fw-cat img {
    border-radius: 10px;
}

.fw-cats .fw-cat p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.28;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.fw-cats .uk-overlay {
    padding: 10px 30px;
}

.fw-sign-in-modal {
    width: 570px;
    height: 468px;
    border-radius: 10px;
    box-shadow: 15px 20px 60px 5px rgba(13, 26, 17, 0.2);
    background-color: #ffffff;
    margin-top:146px;
}

.uk-modal {
    background: rgba(0,0,0,.85);
    opacity: 0;
    transition: opacity .15s linear;
}

.fw-sign-in-modal .uk-subnav-pill > .uk-active > a {
    border-radius: 20px;
    background-color: #73e699;
    color: #ffffff;
}

.fw-sign-in-modal .uk-subnav-pill a {
    min-width: 92px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 22px;
    height: 22px;
    letter-spacing: normal;
    text-align: center;
    border-radius: 20px;
    color: #a6a6a6;
}

.fw-sign-in-modal .form-body {
    width: 370px;
    margin: 0px auto;
}

.fw-sign-in-modal .uk-input {
    height: 40px;
    border-radius: 5px;
    border: solid 1px #f2f2f2;
    background-color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #a6a6a6;
    transition: 0.3s;
}

.fw-sign-in-modal .uk-input:hover, .fw-sign-in-modal .uk-input:focus {
    box-shadow: 0 10px 30px 5px rgba(13, 26, 17, 0.07);
    border: solid 1px #f2f2f2;
    transition: 0.3s;
}

.uk-checkbox {
    border: solid 2px #f2f2f2;
    border-radius: 5px;
}

.uk-checkbox:checked {
    background: #fff url(/storage/images/succes.svg) no-repeat;
    background-size: 8px 8px;
    background-position: center;
    border: solid 2px #f2f2f2;
    border-radius: 5px;
}

.form-body label {
    font-size: 12px;
}

.form-body a {
    color: #a6a6a6;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.form-body a:hover {
    color: #73e699;
    text-decoration: none;
}

.uk-checkbox:focus, .uk-radio:focus {
    border-color: #f2f2f2;
}

.uk-checkbox:checked:focus, .uk-checkbox:indeterminate:focus, .uk-radio:checked:focus {
    background-color: #fff;
}

.form-body .fw-button {
    padding: 12px 16px;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-color: #73e699;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
}

.form-body .fw-button:hover {
    box-shadow: 0 20px 40px 0 rgba(13, 26, 17, 0.2);
    text-decoration: none;
    opacity: 1;
    color: #fff;
}

.form-body .fw-button.disabled {
    opacity: 0.5;
}

.form-body .fw-button.disabled:hover {
    box-shadow: none;
    opacity: 0.5;
}

.fw-footer {
    width: 100%;
    height: 100px;
    box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: right;
    color: #0d1a11;
}

.fw-footer .fw-copyright {
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #0d1a11;
}