﻿	<div style="height:400px;">
		<div style="margin-top:270px;margin-left:auto;margin-right:auto;" class="uk-text-center">
			<p class="uk-h1">Ошибка 404</p>
			<p class="uk-text-lead">Страница не найдена</p>
			<a href="/">Вернуться на главную</a>
		</div>
	</div>