<? if(!$this->user): ?>
<div id="sign_in" uk-modal>
    <div class="uk-modal-dialog uk-modal-body fw-sign-in-modal">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="form-body">
            <ul class="uk-subnav uk-subnav-pill uk-flex uk-flex-center" uk-switcher>
                <li><a href="#"><?= $this->lng('login'); ?></a></li>
                <li><a href="#"><?= $this->lng('register'); ?></a></li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <li>
                    <form action="/login" method="post" id="login">
                            <input type="text" name="type" value="login" hidden>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" name="number" placeholder="<?= $this->lng('number'); ?>">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" name="pass" placeholder="<?= $this->lng('pass'); ?>">
                            </div>

                            <div class="uk-margin uk-text-small uk-grid-small uk-child-width-1-2 uk-grid">
                                <label><input class="uk-checkbox" type="checkbox" name="remember"> <?= $this->lng('remember-pass'); ?></label>
                                <div class="uk-text-right"><a href="#"><?= $this->lng('lost-pass'); ?></a></div>
                            </div>

                        <div class="uk-flex uk-flex-center">
                            <a class="fw-button disabled"  id="login-button"><?= $this->lng('login-button'); ?></a>
                        </div>
                    </form>
                </li>
                <li>
                    <form action="/login" method="post" id="register">
                            <input type="text" name="type" value="register" hidden>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" name="name" placeholder="<?= $this->lng('name'); ?>">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" name="number" placeholder="<?= $this->lng('number'); ?>">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" name="pass" placeholder="<?= $this->lng('pass'); ?>">
                            </div>

                            <div class="uk-margin uk-text-small uk-grid-small uk-child-width-1-2 uk-grid">
                                <label><input class="uk-checkbox" type="checkbox" name="remember"> <?= $this->lng('remember-pass'); ?></label>
                            </div>
                        <div class="uk-flex uk-flex-center">
                            <a class="fw-button disabled" id="register-button"><?= $this->lng('register-button'); ?></a>
                        </div>
                    </form>
                </li>
            </ul>
            <div class="uk-text-center">
                <p><?= $this->lng('other-social'); ?></p>
                <div>
                    <script src="//ulogin.ru/js/ulogin.js"></script>
                    <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,odnoklassniki,facebook;hidden=;redirect_uri=http%3A%2F%2F<?= $_SERVER['HTTP_HOST']; ?>%2Flogin;mobilebuttons=0;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<? endif; ?>
<div class="fw-footer">
    <div class="uk-container">
        <div class="fw-copyright uk-float-left uk-text-left">
            <?= $this->lng('copyright'); ?>
        </div>
        <div class="uk-float-right uk-text-right">
            <?= $this->lng('footer-descrition'); ?>
        </div>
    </div>
</div>
</body>
</html>