<div class="fw-offer">
    <div class="uk-container uk-text-center">
        <h1><?= $this->lng('offer-h1'); ?></h1>
        <a class="fw-offer-button"><?= $this->lng('offer-button'); ?></a>
    </div>
</div>
<div class="fw-cats uk-text-center">
    <div class="uk-container">
        <div class="uk-grid" uk-grid>
            <div class="uk-width-1-2">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-2">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[1]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[1]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[2]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[2]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[3]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[3]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[4]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[4]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[5]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[5]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4">
                <div class="uk-width-1-1">
                    <div class="uk-inline fw-cat">
                        <img src="/storage/images/main_cats/<?= $this->cats[6]['image']; ?>" alt="">
                        <div class="uk-overlay uk-light uk-position-bottom">
                            <p><?= $this->cats[6]['title']; ?></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-1-4">
                <div class="uk-grid" uk-grid>
                    <div class="uk-width-1-1">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[7]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[7]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[8]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[8]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-1">
                        <div class="uk-inline fw-cat">
                            <img src="/storage/images/main_cats/<?= $this->cats[9]['image']; ?>" alt="">
                            <div class="uk-overlay uk-light uk-position-bottom">
                                <p><?= $this->cats[9]['title']; ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<br/>
<br/>