<?=$this->breadcrumbs(array($this->url=>$this->h1));?>
<div class="uk-container">
    <h1 class="uk-heading-line" id="h1"><span><?=$this->h1;?></span></h1>
    <?=$this->content;?><?=($this->user['level'] == 5 ? '<hr/><a href="/admin/pages/edit?id='.$this->id.'"><span uk-icon="file-edit"></span> Редактировать</a>':'');?>
</div>